.carsSection {
    margin-top: 9rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    transition: all .3s ease;
}

.carsSection h2 {
    margin: 1.5rem auto .5rem auto;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 2.5rem;
}

.container {
    margin: 0 auto;
    max-width: 95%;
    padding: 0 2rem;
}

.carsDiv {
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
