.h1 {
    margin-left: 550px;
    margin-bottom: 30px;
}
.form {
    border: 2px solid #5117f8; /* Bordure autour du conteneur */
    background-color: #f4ebeb; /* Couleur de fond */
    padding: 20px; /* Espace intérieur */
    margin-bottom: 20px; /* Espace entre les conteneurs */
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.h2 {
    border: 1px solid #333; /* Bordure solide */
    padding: 10px 20px; /* Espacement intérieur */
    display: inline-block; /* Pour que la bordure s'adapte au texte */
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #333;
    text-align: center;
    background-color: #ccc8fd; /* Fond légèrement coloré */
    border-radius: 8px; /* Coins arrondis */
    margin-left: 180px;
    margin-bottom: 20px;
}
.txt1 {
    margin-left: 100px;
}
.txt2 {
    margin-left: 100px;
}
.txt3 {
    margin-left: 100px;
}
.cadre {
    padding-top: 10px;
    padding-left: 10px;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
}
.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 400ms ease-in-out;
    margin-left: 450px;
}
.contact {
    border: 2px solid #5117f8; /* Bordure autour du conteneur */
    background-color: #f4ebeb; /* Couleur de fond */
    /* Espace intérieur */
    margin-bottom: 20px; /* Espace entre les conteneurs */
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size:26px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:40%; white-space:nowrap; padding-bottom:13px;
    color: #042b4c; /* Couleur du titre */
}
.contact h2 {border: 1px solid #333; /* Bordure solide */
    padding: 10px 20px; /* Espacement intérieur */
    display: inline-block; /* Pour que la bordure s'adapte au texte */
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #333;
    text-align: center;
    background-color: #ccc8fd; /* Fond légèrement coloré */
    border-radius: 8px; /* Coins arrondis */
    margin-left: 40px;
    margin-bottom: 18px;
    margin-top: 5px;
}