.heroSection {
    background-color: #f8f8f8;
    height: 97vh;
    position: relative;
    width: 100%;
}

.container {
    margin: 0 auto !important;
    max-width: 133rem !important;
    padding: 0 2.5rem !important;
}

.bgShape {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.heroContent {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    width: 100%;
    background-color: transparent;
}

.heroContentText {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    max-width: 30rem;
    z-index: 3;
    background-color: transparent;
    font-family: Poppins, sans-serif;
}

.heroContentText h4 {
    color: #010103;
    font-family: Rubik, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: transparent;
}

.heroContentText h1 {
    color: #010103;
    font-family: Poppins, sans-serif;
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    background-color: transparent;
}

.heroContentText h1 span {
    background-color: transparent;
    color: #0065a1;
}

.heroContentText p {
    color: #706f7b;
    font-family: Rubik, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 2.5rem;
    background-color: transparent;
}

.heroContentTextBtns {
    display: flex;
    font-family: Rubik, sans-serif;
    font-size: 1rem;
    gap: 1.8rem;
    background-color: transparent;
}

.heroContentTextBtns a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

.heroContentTextBtnsBookRide {
    background-color: #0065a1;
    border: 2px solid #0065a1;
    border-radius: .2rem;
    box-shadow: 0 10px 15px 0 rgba(0, 101, 161, 0.49);
    padding: 1.2rem 1.5rem;
    transition: all .4s ease;
}

.heroContentTextBtnsBookRide:hover {
    box-shadow: 1px 13px 18px 2px rgba(0, 101, 161, 0.6);
}

.heroContentTextBtnsLearnMore {
    background-color: #010103;
    border: 2px solid #010103;
    border-radius: .2rem;
    padding: 1.2rem 1.5rem;
    transition: all .5s ease;
}

.heroContentTextBtnsLearnMore:hover {
    background-color: white;
    color: black;
}

.heroContentCarImg {
    margin-top: 5rem;
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 2;
    background-color: transparent;
}

.scrollToTop {
    align-items: center;
    background-color: #0065a1;
    border: 3px solid #fff;
    border-radius: .8rem;
    bottom: 3.5rem;
    cursor: pointer;
    display: none;
    height: 1rem;
    justify-content: center;
    padding: 1.5rem;
    position: fixed;
    right: 3.5rem;
    width: 1rem;
    z-index: 20;
}

.scrollToTop img {
    background-color: transparent;
}

.showScrollToTop {
    display: flex;
}