.signupContainer {
    width: 100%;
    max-width: 500px;
    margin: 9rem auto 4rem auto;
    padding: 1.4rem 1.7rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #3266de;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #3266de;
}

.policy {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.h3 {
    font-size: 0.9rem;
    color: #555;
    margin: 0;
}

.button {
    width: 100%;
    padding: 12px;
    background-color: #3266de;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1a4fad;
}

.loginPrompt {
    margin-top: 15px;
}

.h4 {
    font-size: 0.9rem;
    color: #555;
}

.link {
    color: #3266de;
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.error {
    color: #ff0000;
    font-size: 0.9rem;
    margin-bottom: 15px;
    text-align: center;
}